<div class="col-md-8 offset-md-2">
  <div class="card">
    <div class="card card-body text-center">
      <h3>{{producto.id}}. {{producto.tipoDeProducto == '' ? 'Logistica Terrestre' : producto.tipoDeProducto}}</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="tipoDeProducto" [(ngModel)]="producto.tipoDeProducto" placeholder="tipoDeProducto" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <textarea name="cantidadDelProducto" [(ngModel)]="producto.cantidadDelProducto" rows="2" placeholder="cantidadDelProducto" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <!-- <input type="text" name="fechaDeRegistro1" [(ngModel)]="producto.fechaDeRegistro" placeholder="fechaDeRegistro1" class="form-control"> -->
          <input type="date" name="fechaDeRegistro" placeholder="DD/MM/YYY" [(ngModel)]="producto.fechaDeRegistro" value="{{producto.fechaDeRegistro.slice(0, 10)}}"/>
        </div>
        <div class="form-group">
          <input type="date" name="fechaDeEntrega" placeholder="DD/MM/YYY" [(ngModel)]="producto.fechaDeEntrega" value="{{producto.fechaDeEntrega.slice(0, 10)}}"/>
        </div>
        <div class="form-group">
          <input type="text" name="bodegaDeEntrega" [(ngModel)]="producto.bodegaDeEntrega" placeholder="bodegaDeEntrega" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="precioDeEnvio" [(ngModel)]="producto.precioDeEnvio" placeholder="precioDeEnvio" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="placaDelVehiculo" [(ngModel)]="producto.placaDelVehiculo" placeholder="placaDelVehiculo" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="numeroDeGuia" [(ngModel)]="producto.numeroDeGuia" placeholder="numeroDeGuia" class="form-control">
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? updateLogisticaTerrestre() : saveLogisticaTerrestre()">
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
